[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=audio/x-midi
Comment=Embeddable midi player
Comment[az]=Hopdurula Bilən midi çalğıcısı
Comment[bg]=Вграден midi-плеер
Comment[cs]=Vložitelný přehrávač MIDI
Comment[da]=Indlejrbar midispiller
Comment[de]=Einbettungsfähige Midi-Wiedergabe
Comment[el]=Ενσωματώσιμο midi player
Comment[eo]=Enplektebla MIDI-ludilo
Comment[es]=Reproductor MIDI incrustable
Comment[et]=Põimitav MIDI failide mängija
Comment[fi]=Upotettava midi-soitin
Comment[fr]=Lecteur MIDI incorporé
Comment[he]=העבטהל ןתינ ידימ ןגנ
Comment[hu]=Beágyazható MIDI-lejátszó
Comment[is]=audiomidi:  Ásetjanlegur midi-spilari
Comment[it]=Lettore midi importabile
Comment[ja]=埋め込みmidiプレーヤ
Comment[ko]=다른 곳에 끼워져서 미디를 들려주는 콤포넌트
Comment[lt]=Įdedamas midi grotuvas
Comment[lv]=Iebūvējams Midi Atskaņotājs
Comment[mt]=Plejer tal-MIDI integrat
Comment[nl]=inbedbare midispeler
Comment[no]=Innebygd midi-spiller
Comment[no_NY]=Innebyggbar midi-spelar
Comment[pl]=Wbudowywalny odtwarzacz midi
Comment[pt_BR]=Reprodutor MIDI embutível
Comment[pt]=Reprodutor MIDI embebido
Comment[ru]=Встраиваемый midi-плеер
Comment[sk]=Vložiteľný prehrávač midi
Comment[sl]=Vgradljivi predvajalnik MIDI
Comment[sr]=Ugradivi midi plejer
Comment[sv]=Inbäddningsbar midispelare
Comment[ta]=¯ð¦À¡¾¢ì¸ìÅøÄ midi ­Âì¸¢
Comment[tr]=Gömülebilir midi çalıcısı
Comment[uk]=Вмонтований програвач MIDI
Comment[xh]=Umdlali olungisiweyo we midi
Comment[zh_CN.GB2312]=可嵌入的 MIDI 播放器
