[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Video Files
Name[af]=Video Lêers
Name[bg]=Видео файлове
Name[bs]=Video datoteke
Name[ca]=Fitxers de vídeo
Name[cs]=Video soubory
Name[da]=Videofiler
Name[de]=Video-Dateien
Name[el]=Αρχεία βίντεο
Name[es]=Archivos de vídeo
Name[et]=Videofailid
Name[fi]=Videotiedostot
Name[fr]=Fichiers vidéo
Name[he]=קבצי וידאו
Name[hu]=Videófájlok
Name[it]=File Video
Name[ja]=ビデオファイル
Name[lt]=Video bylos
Name[mk]=Видео датотеки
Name[nb]=Videofiler
Name[nl]=Videobestanden
Name[nn]=Videofiler
Name[nso]=Difaele tsa Video
Name[pl]=Pliki wideo
Name[pt]=Ficheiros de Video
Name[pt_BR]=Arquivos de vídeo
Name[ru]=Видео-файлы
Name[sk]=Video súbory
Name[sl]=Video datoteke
Name[sv]=Videofiler
Name[tr]=Video Dosyaları
Name[uk]=Файл відео
Name[ven]=Dzifaela dza Video
Name[xh]=Iifayile ze Video
Name[zh_CN]=视频文件
Name[zh_TW]=視訊檔案
Name[zu]=Amafayela Evidiyo
ServiceTypes=ThumbCreator
MimeTypes=video/*
X-KDE-Library=videothumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
